.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
*.iml
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
.env
*.log
